@media @mobiles {
  .about {
    //background-color: green;
    color: @text-color;
  }
  .about__wrapper {
    .set-wrap(20px, 20px);
  }
  .about__title {
    //width: 100px;
    padding-top: @padding-title;
    text-align: center;
  }
  .about__text {
    //font-family: 'Open Sans';
    //font-weight: bold;

    text-align: center;
    line-height: 24px;
  }
}

@media @desktops {
  .about {
    padding-top: 10px;
  }
  .about__wrapper {
    max-width: @max-width;
    margin: 0 auto;
    padding: 0 100px;
  }
}
