@media @mobiles {
  .about {
    //background-color: green;
  }
  .about__wrapper {
    .set-wrap(20px, 20px);
  }
  .about__title {
    //width: 100px;
    padding-top: @padding-title;

    text-align: center;
  }
  .about__text {
    text-align: center;
  }
}

@media @desktops {
  .about__wrapper {
    max-width: @max-width;
    margin: 0 auto;
  }
}