@media @mobiles {
  .contacts__title {
    padding-top: @padding-title;
    margin-bottom: 20px;
    
    text-align: center;
  }
  .contacts__map {    
    //text-align: center;
    //width: 100%;
    //height: 100vw - 100vw*0.25; // размер картинки 320х240, желаем примерно 
                                // пропорционально    
    //min-height: 240px;
    /*background: 
      url("../images/map_320x240.jpg") no-repeat;
    background-size: cover;   */ 
  }
  .contacts {
    text-align: center;
  }
  .contacts img {
    width: 100%;
  }
}