@media @mobiles {
  .contacts__title {
    padding-top: @padding-title;
    margin-bottom: 20px;

    text-align: center;
  }
  .contacts {
    text-align: center;
  }
  .contacts img {
    width: 100%;
  }
  .contacts__google-map {
    width: 100%;
    display: block;
  }
  .contacts__address {
    text-align: center;

    margin-bottom: 2em;
  }
}

@media @tablets {
  .contacts {
    margin-bottom: 2em;
  }
  .contacts__map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contacts__yandex-map {
    display: none;
  }
  .contacts__address,
  .contacts__google-map {
    width: 48%;
  }
  .contacts__address {
    box-sizing: border-box;
    padding: 30px;
  }
}

@media @desktops {
  .contacts {
    padding-top: 30px;
  }
  .contacts__wrapper {
    max-width: @max-width;
    margin: 0 auto;
  }
  .contacts__map {
    //max-width: 600px;
    //margin-right: 30px;
  }
  .contacts__street-photo {
    max-width: 500px;
  }
  .contacts__google-map {
    width: 600px;
    height: 370px;
  }
  .contacts__flex {
    justify-content: center;
  }
}
