@media @mobiles {
  .footer {
    margin-top: 0; //-4px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: @footer-bg-color; // footer серым
    flex: 0 0 auto;
  }
  .footer--hidden {
    display: none;
  }
  .footer__address {
    color: #ffffff;
  }
  .footer__wrapper {
    .set-wrap(20px, 20px);
  }
  .footer__phone {
    display: block;

    margin-top: 15px;
    margin-bottom: 15px;

    color: @menu-color;
    //border-bottom: 2px dashed @menu-color;
    &:hover {
      color: @menu-hover-color;
    }
  }
  .footer__phone:hover #smartphone,
  .footer__phone:active #smartphone {
    stroke: @menu-hover-color;
  }
  .footer svg {
    //margin-top: 10px;
    width: 45px;
    height: 45px;
  }
  .footer #geolocation {
    stroke: #ffffff;
  }
  .footer #smartphone {
    stroke: #ffffff;
  }
  .footer__title {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;

    color: #ffffff;
  }
}

@media @tablets {
  .footer__wrapper {
    max-width: @max-width;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .footer__address {
    width: 250px;
  }
  .footer__address,
  .footer__phone {
    margin-right: 30px;
  }
  .footer__phone {
  }
}

@media @desktops {
  .footer__wrapper {
    max-width: @max-width;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .footer__address {
    width: 250px;
  }
  .footer__address,
  .footer__phone {
    margin-right: 30px;
  }
}
