@media @mobiles {
  .teachers {
    padding-left: 20px;
    padding-right: 20px;
    
    text-align: center;
  }
  .teachers__title {
    margin-top: 20px;
    margin-bottom: 20px;
    //text-align: center;
  }  
  .teachers__photo {
    display: block;
  }
  .teachers__name {
    margin-top: 15px;
    margin-bottom: 15px;
    
    //text-align: center;
  }
  .teachers__item {
    //width: 80%;
    max-width: 300px;
    //text-align: center;
    margin: 0 auto;
    border: 1px solid @teachers-border;
    border-radius: 0 0 10px 10px;
  }
}